.btn {
    padding: rem(12) rem(16);
    border-radius: rem(10);
    border: none;
    font-size: rem(14);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;

    &--primary {
        background: #148556;
        color: white;
    }
}

.btn-row {
    margin-top: rem(24);
    display: flex;
    align-items: center;
    column-gap: rem(24);

    &--right {
        justify-content: flex-end;
    }

    &--center {
        display: block;
        text-align: center;
    }

    &--space-between {
        justify-content: space-between;
    }

    &--modal {
        position: fixed;
        right: rem(16);
        bottom: rem(16);
        left: rem(16);
        padding: rem(16);
        margin-top: 0;
        background-color: #fff;
        border-radius: rem(15);
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    }
}