$space: 1.25rem;

// Colors
$color-text         : black;
$color-profile      : #D5F6E5;
$color-support      : #1BB776;
$color-support-light: #ECE4EF;
$color-dark         : #000000;
$color-support-medium: #6e5f7e;
$color-neutral-light: #ddd;

// Font-sizes
$font-size--sm      : 14;
$font-size--base    : 16;
$font-size--md      : 18;
$font-size--lg      : 20;
$font-size--xl      : 24;
$font-size--xxl     : 42;

// Breakpoints
@mixin br-lg {
  @media only screen and (min-width: 56em) {
    @content;
  }
}

@mixin br-md {
  @media only screen and (min-width: 40em) {
    @content;
  }
}

@mixin br-sm {
  @media only screen and (min-width: 30em) {
    @content;
  }
}

@mixin br-mobile {
  @media only screen and (max-width: 39.9375em) {
    @content;
  }
}

// Fonts
@mixin font-size($sizeValue: 16) {
  font-size: ($sizeValue) + px;
  font-size: $sizeValue/16 + rem;
}