.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.u-center {
  text-align: center;
}

.u-right {
  text-align: right;
}

.u-left {
  text-align: left;
}

.border-none {
  border: none;
}

.u-small {
  font-size: rem(14);
}

.m-b {
  margin-bottom: rem(24);
}

.m-t-xs {
  margin-top: rem(8);
}

.u-bold {
  font-weight: 700;
}

.u-regular {
  font-weight: 400;
}
