.shop {
    padding: rem(16) rem(24);
    margin: 0 auto;
    max-width: 600px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(16);

        &-back{
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color-dark;
            border: none;
            width: rem(30);
            height: rem(30);
            border-radius: 50%;
            color: #fff;
            margin-left: rem(-4);
            
            &-icon {
                font-size: rem(22);
            }
        }
    }

    &__heading {
        font-size: rem(20);
        margin: 0;
        font-weight: 400;
    }

    &__content {
        padding: rem(24);
    }
}

.cart-indicator {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(16);
    border-radius: rem(15) rem(15) 0 0;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    @include z-index('cart');

    &__cart {
        width: rem(36);
        height: rem(36);
        background-color: $color-dark;
        border-radius: 50%;
        color: #fff;
        border: none;
        position: relative;

        .material-icons{
            font-size: rem(20);    
        }

        &-number {
            position: absolute;
            top: 0;
            background-color: $color-profile-dark;
            width: rem(18);
            height: rem(18);
            border-radius: 50%;
            font-size: rem(12);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
        }
    }
}